.fodd4978{
    display: flex;
  justify-content: space-evenly;
  padding: 28px;
  flex-wrap: wrap;
}
.showpS1{
    width: 215px;
  border-radius: 27px;
  padding: 16px;
  box-shadow: 2px 9px 42px gray;
  margin-right: 16px;
  margin-bottom: 31px;
  height: 333px;
}
.listFood4{
    width: 100%;
  border-radius: 26px 26px 0px 0px;
  height: 68%;
}
.fode48{
    font-size: 22px;
  font-weight: bold;
}
.f0de484{
    font-size: 17px;
}