.how{
    background-image: url(../../assets/JoinPartner/join.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.blurhow{
    padding: 56px;
  backdrop-filter: blur(16px);
  border-radius: 48px;
  box-shadow: 3px 35px 50px black;
  color: white;
}