@media only screen and (min-width: 350px){
    .body1 {
        padding-bottom: 10px;
        width: 100vw;
    
    }
    
    .body2 {
        height: 214px;
        width: 100%;
        background-image: url("../../assets/banner/sl1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 1px;
        display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .bodyp {
        display: flex;
        flex-wrap: wrap-reverse;
    
    }
    
    .body3 {
        width: 801px;

    }
    
    .body4 {
        width: 100%;
        padding: 1rem;
        display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
    
    .formpart {
        width: 100%;
        margin-top: 2rem;
        padding: 1rem;
        text-align: left;
    }
    
    .body5,
    .body6 {
        margin-top: 3rem;
        padding: 1rem;
        border-radius: 20px;
        width: 450px;
        box-shadow: 0px 9px 74px 3px rgb(197, 194, 194);
        text-align: left;
    
    }
    
    .Report {
        font-size: 25px;
        color: red;
    }
    
    .UpperText {
    
        font-size: 59px;
        color: white;
        font-weight: bold;
    }
    
    .body2p {
        width: 100%;
    }
    .Toast4948{
        font-size: 20px;
    }
    .Smsk4894{
        font-size: 15px;
    }
    
}

@media only screen and (min-width: 550px){
    .body1 {
        padding-bottom: 10px;
        width: 100vw;
    
    }
    
    .body2 {
        height: 214px;
        width: 100%;
        background-image: url("../../assets/banner/sl1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 1px;
        display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .bodyp {
        display: flex;
        flex-wrap: wrap-reverse;
    
    }
    
    .body3 {
        width: 801px;

    }
    
    .body4 {
        width: 100%;
        padding: 1rem;
        display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
    
    .formpart {
        width: 100%;
        margin-top: 2rem;
        padding: 1rem;
        text-align: left;
    }
    
    .body5,
    .body6 {
        margin-top: 3rem;
        padding: 1rem;
        border-radius: 20px;
        width: 450px;
        height: 200px;
        box-shadow: 0px 9px 74px 3px rgb(197, 194, 194);
        text-align: left;
    
    }
    
    .Report {
        font-size: 25px;
        color: red;
    }
    
    .UpperText {
    
        font-size: 59px;
        color: white;
        font-weight: bold;
    }
    
    .body2p {
        width: 100%;
    }
    .Toast4948{
        font-size: 30px;
    }
    .Smsk4894{
        font-size: 20px;
    }
}

@media only screen and (min-width: 768px){
    .body1 {
        padding-bottom: 10px;
        width: 100vw;
    
    }
    
    .body2 {
        height: 214px;
        width: 100%;
        background-image: url("../../assets/banner/sl1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 1px;
        display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .bodyp {
        display: flex;
        flex-wrap: wrap-reverse;
    
    }
    
    .body3 {
        width: 801px;

    }
    
    .body4 {
        width: 100%;
        padding: 1rem;
        display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
    
    .formpart {
        width: 100%;
        margin-top: 2rem;
        padding: 1rem;
        text-align: left;
    }
    
    .body5,
    .body6 {
        margin-top: 3rem;
        padding: 1rem;
        border-radius: 20px;
        width: 450px;
        height: 200px;
        box-shadow: 0px 9px 74px 3px rgb(197, 194, 194);
        text-align: left;
    
    }
    
    .Report {
        font-size: 25px;
        color: red;
    }
    
    .UpperText {
    
        font-size: 59px;
        color: white;
        font-weight: bold;
    }
    
    .body2p {
        width: 100%;
    }
    .Toast4948{
        font-size: 30px;
    }
    .Smsk4894{
        font-size: 20px;
    }
}

@media only screen and (min-width: 992px){
    .body1 {
        height: 1008px;
        width: 100vw;
    
    }
    
    .body2 {
        height: 214px;
        width: 100%;
        background-image: url("../../assets/banner/sl1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 1px;
        display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .bodyp {
        display: flex;
        flex-wrap:nowrap;
    
    }
    
    .body3 {
        width: 801px;
        height: 718px;
    }
    
    .body4 {
        width: 562px;
        height: 718px;
        padding: 1rem;
        display:block;
    }
    
    .formpart {
        width: 100%;
        height: 100%;
        margin-top: 2rem;
        padding: 1rem;
        text-align: left;
    }
    
    .body5,
    .body6 {
        margin-top: 3rem;
        padding: 1rem;
        border-radius: 20px;
        width: 450px;
        height: 200px;
        box-shadow: 26px 21px 23px rgb(197, 194, 194);
        text-align: left;
    
    }
    
    .Report {
        font-size: 25px;
        color: red;
    }
    
    .UpperText {
    
        font-size: 69px;
        color: white;
        font-weight: bold;
    }
    
    .body2p {
        width: 100%;
    }
    .Toast4948{
        font-size: 30px;
    }
    .Smsk4894{
        font-size: 20px;
    }
}

@media only screen and (min-width: 1200px){
    .body1 {
        height: 1008px;
        width: 100vw;
    
    }
    
    .body2 {
        height: 290px;
        width: 100vw;
        background-image: url("../../assets/banner/sl1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 1px;
        display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .bodyp {
        display: flex;
        flex-wrap:nowrap;
    
    }
    
    .body3 {
        width: 801px;
        height: 718px;
    }
    
    .body4 {
        width: 562px;
        height: 718px;
        padding: 1rem;
        display:block;
    }
    
    .formpart {
        width: 651px;
        height: 629px;
        margin-top: 2rem;
        padding: 2rem;
        border-radius: 20px;
        text-align: left;
    }
    
    .body5,
    .body6 {
        margin-top: 3rem;
        padding: 1rem;
        border-radius: 20px;
        width: 450px;
        height: 200px;
        box-shadow: 26px 21px 23px rgb(197, 194, 194);
        text-align: left;
    
    }
    
    .Report {
        font-size: 25px;
        color: red;
    }
    
    .UpperText {
    
        font-size: 69px;
        color: white;
        font-weight: bold;
    }
    
    .body2p {
        width: 100%;
    }
    .Toast4948{
        font-size: 30px;
    }
    .Smsk4894{
        font-size: 20px;
    }
}

